	body {
		background-image: url("Sten.jpg");
		background-repeat: no-repeat;
		background-color: #cccccc;
		background-position: center;
		background-size: cover;
		text-align: center;
		list-style: inside;
		color: lightgreen;
		background-size: 83%;
		}

	h1 {
	text-align: center;
	color: lightgreen;
	}
	li a{
		color: lightgreen;
	}
	ul{
		color: lightgreen;
		list-style: inside;

	}
	
